/* common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
}



/* nav related style */

nav{
    display : flex;
}
.nav-titile {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
 
}